{
  "extends": [
    "react-app",
    "prettier",
    "plugin:import/errors"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "import/no-unresolved": 2
  },
  "plugins": [
    "prettier",
    "import"
  ]
}